<header>
  <h1><a href="#/">Taxidermy</a> - Admin</h1>
  <nav>
    <ul>
      <li><a href="#/prod"><i class="fa fa-eye"></i></a></li>
      <li><a href="#/prod/new"><i class="fa fa-plus"></i></a></li>
    </ul>
  </nav>
</header>
<div class="container">
<div class="flip-container" ng-repeat="item in prods">

          <img src="{{item.img_url}}" alt="">



        <div class="reverse-card">

          <h1>{{item.name}}</h1>
          <h2>{{item.price}}</h2>
          <p>{{item.description}}...</p>
    <p> <a href="#/prod/{{item._id}}"><i class="fa fa-eye"></i></a>
        <a href="#/prod/{{item._id}}/edit"><i class="fa fa-pencil-square-o"></i></a>
        <a href="" ng-click="deleteProd(item._id)"><i class="fa fa-times"></i></a></p>
        </div>

</div>
</div>
