<header>
  <h1><a href="#/">Taxidermy</a> - Admin</h1>
  <nav>
    <ul>
      <li><a href="#/prod"><i class="fa fa-eye"></i></a></li>
      <li><a href="#/prod/new"><i class="fa fa-plus"></i></a></li>
    </ul>
  </nav>
</header>
<div class="create container">
<h1>Add a new product here.</h1>
<form action="" ng-submit="addProd(newProd)">
    <input type="text" ng-model="newProd.name" placeholder="Name" required>
    <textarea id="" cols="30" rows="10" ng-model="newProd.description" placeholder="Product Description"></textarea>
    <input type="text" placeholder="URL for your image." ng-model="newProd.img_url" required>
    <input type="rnumbe" placeholder="Price" ng-model="newProd.price" required>
    <button type="submit">SUBMIT</button>
</form>
</div>
